# ---- Data Ingestion ----
requests==2.32.3
pandas==2.3.3
pyarrow==16.1.0

# ---- ClickHouse ----
clickhouse-connect==0.7.19

# ---- dbt ----
dbt-core==1.8.2
dbt-clickhouse==1.8.2

# ---- Utilities ----
python-dotenv==1.0.1

kafka-python==2.0.2
websocket-client==1.7.0
clickhouse-driver==0.2.9

apache-airflow==2.8.1

PyYAML==6.0.2